<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729683673093-o0nnojlru4aggmcs1hq9sksohkol64ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729683673093-o0nnojlru4aggmcs1hq9sksohkol64ot</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Tpq1H3y9_kNkFbrENP7CTV4jnANvK24</string>
	<key>GCM_SENDER_ID</key>
	<string>729683673093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aayush.FreshLoginProject</string>
	<key>PROJECT_ID</key>
	<string>aayushloginscreen</string>
	<key>STORAGE_BUCKET</key>
	<string>aayushloginscreen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:729683673093:ios:97954839a5b7eb4f2c5c6c</string>
</dict>
</plist>
